### Reassignment and Updating variables

In [21]:
students = [
['Abdul Tawab Safi', '08/04/1997', ['Tawaba', 'Kochi'],['BJJ', 'Cricket', 'Gaming', 'MMA']],
['Bridget Boakye','07-13-1990',['Bre', 'B'],['Reading', 'Writing', 'Public Speaking', 'Exercise', 'Traveling']],
["Cristina", '09/09',[" Ms.Donkey" , "Cristi"],[' Python',' Animals']],
['Danny(Haoyang)','1997-03-19',[],['soccer','basketball','music','philosophy']],
['Dustin', '04/15/94', ['Dusty', 'D'], ['Tennis', 'Traveling', 'NY Knicks', 'Fitness']],
['Gregory DeSantis','11/23/1987',['Blaze'], ['Running', 'Skateboarding', 'Reading', 'Coding']],
["Harrison Miller", "10-2",['harry'],["skiing","hiking",'gaming','eating']],
['Jeremy Owens','03/30/1990',['Jerbea'],['Gaming', 'Weightlifting', 'Science', 'Cooking']],
['Jeremy Reikes', '10-12-1995', ['Germ', 'Jer'], ['Baseball', 'Dogs', 'Coffee', 'pYtHoN', 'Hiking', 'TV', 'Cryptocurrencies']],
['Jonathan', '02/19/1994', ['Jp', 'Peck'], ['sports', 'cooking', 'tech', 'philosophy']],
['Matthew', '4.14.1989',['matty','wass'],['food', 'pythons, but actual snakes','sci-fi tv shows']],
['Minna','11/19/1996',['Minna fish', 'Min'],['hiking','surfing', 'playing with my dog', 'going to museums', 'listening to music']],
['Nabil Abbas,', '12/07/1994', ['Nibz', 'Nabeezy', 'Balle'],['NBA', 'Twitter', 'photography','humanitarian work']],
['Natalie Del Rossi', '10-23-1994', 'Nat', ['hiking', 'reading', 'tv and movies', 'cooking']],
['Remy Canario','10/11/1988',['Remstar', 'Rem', 'Remyx'],
['octopuses','the letter y','nets','household objects shaped like things they are not']],
['Xristos', 'March 24', 'Zris', ['Music', 'Video Games', 'Twitter', 'Philosophy']],
['Taylor Hawks','11/09/1990', [None],['Electronic music', 'Documentaries', 'Skiing']],
['Vishal Patel','02/08/1990', ['V', 'Visual', 'Vish'],['Rock climbing', 'Basketball', 'Food']]  
# ['Vishal Patel','Not a date!!', ['V', 'Visual', 'Vish'],['Rock climbing', 'Basketball', 'Food']]  
]

In [22]:
import pandas as pd

df = pd.DataFrame.from_records(students)
df = df.rename({0: 'Name', 1: 'DOB', 2:'Nicknames', 3:'Interests'}, axis = 'columns')
df.head()

# Nobody can honestly have more than 4 interests, come on
def truncateList(l):
    if len(l) > 4:
        return l[:4]
    return l
    
df['Interests'] = df['Interests'].map(truncateList)

df.head(len(df))

,Name,DOB,Nicknames,Interests
0,Abdul Tawab Safi,08/04/1997,"[Tawaba, Kochi]","[BJJ, Cricket, Gaming, MMA]"
1,Bridget Boakye,07-13-1990,"[Bre, B]","[Reading, Writing, Public Speaking, Exercise]"
2,Cristina,09/09,"[ Ms.Donkey, Cristi]","[ Python, Animals]"
3,Danny(Haoyang),1997-03-19,[],"[soccer, basketball, music, philosophy]"
4,Dustin,04/15/94,"[Dusty, D]","[Tennis, Traveling, NY Knicks, Fitness]"
5,Gregory DeSantis,11/23/1987,[Blaze],"[Running, Skateboarding, Reading, Coding]"
6,Harrison Miller,10-2,[harry],"[skiing, hiking, gaming, eating]"
7,Jeremy Owens,03/30/1990,[Jerbea],"[Gaming, Weightlifting, Science, Cooking]"
8,Jeremy Reikes,10-12-1995,"[Germ, Jer]","[Baseball, Dogs, Coffee, pYtHoN]"
9,Jonathan,02/19/1994,"[Jp, Peck]","[sports, cooking, tech, philosophy]"
10,Matthew,4.14.1989,"[matty, wass]","[food, pythons, but actual snakes, sci-fi tv s..."
11,Minna,11/19/1996,"[Minna fish, Min]","[hiking, surfing, playing with my dog, going t..."
12,"Nabil Abbas,",12/07/1994,"[Nibz, Nabeezy, Balle]","[NBA, Twitter, photography, humanitarian work]"
13,Natalie Del Rossi,10-23-1994,Nat,"[hiking, reading, tv and movies, cooking]"
14,Remy Canario,10/11/1988,"[Remstar, Rem, Remyx]","[octopuses, the letter y, nets, household obje..."
15,Xristos,March 24,Zris,"[Music, Video Games, Twitter, Philosophy]"
16,Taylor Hawks,11/09/1990,[None],"[Electronic music, Documentaries, Skiing]"
17,Vishal Patel,02/08/1990,"[V, Visual, Vish]","[Rock climbing, Basketball, Food]"

In [23]:
import dateparser
import datetime


df['Clean DOB'] = df['DOB'].map(lambda d : dateparser.parse(d))
df['Clean DOB'] = df['Clean DOB'].map(lambda d : d.date().isoformat())

df.head(len(df))

,Name,DOB,Nicknames,Interests,Clean DOB
0,Abdul Tawab Safi,08/04/1997,"[Tawaba, Kochi]","[BJJ, Cricket, Gaming, MMA]",1997-08-04
1,Bridget Boakye,07-13-1990,"[Bre, B]","[Reading, Writing, Public Speaking, Exercise]",1990-07-13
2,Cristina,09/09,"[ Ms.Donkey, Cristi]","[ Python, Animals]",2019-09-09
3,Danny(Haoyang),1997-03-19,[],"[soccer, basketball, music, philosophy]",1997-03-19
4,Dustin,04/15/94,"[Dusty, D]","[Tennis, Traveling, NY Knicks, Fitness]",1994-04-15
5,Gregory DeSantis,11/23/1987,[Blaze],"[Running, Skateboarding, Reading, Coding]",1987-11-23
6,Harrison Miller,10-2,[harry],"[skiing, hiking, gaming, eating]",2019-10-02
7,Jeremy Owens,03/30/1990,[Jerbea],"[Gaming, Weightlifting, Science, Cooking]",1990-03-30
8,Jeremy Reikes,10-12-1995,"[Germ, Jer]","[Baseball, Dogs, Coffee, pYtHoN]",1995-10-12
9,Jonathan,02/19/1994,"[Jp, Peck]","[sports, cooking, tech, philosophy]",1994-02-19
10,Matthew,4.14.1989,"[matty, wass]","[food, pythons, but actual snakes, sci-fi tv s...",1989-04-14
11,Minna,11/19/1996,"[Minna fish, Min]","[hiking, surfing, playing with my dog, going t...",1996-11-19
12,"Nabil Abbas,",12/07/1994,"[Nibz, Nabeezy, Balle]","[NBA, Twitter, photography, humanitarian work]",1994-12-07
13,Natalie Del Rossi,10-23-1994,Nat,"[hiking, reading, tv and movies, cooking]",1994-10-23
14,Remy Canario,10/11/1988,"[Remstar, Rem, Remyx]","[octopuses, the letter y, nets, household obje...",1988-10-11
15,Xristos,March 24,Zris,"[Music, Video Games, Twitter, Philosophy]",2019-03-24
16,Taylor Hawks,11/09/1990,[None],"[Electronic music, Documentaries, Skiing]",1990-11-09
17,Vishal Patel,02/08/1990,"[V, Visual, Vish]","[Rock climbing, Basketball, Food]",1990-02-08